@page "/create-movie"

@using BusinessLogic
@using Dtos
@inject MovieLogic MovieLogic
@inject NavigationManager NavigationManager

<h1>Create Movie</h1>

<body>
<form>
    <div class="form-group">
        <label for="title">Títle</label>
        <input type="text" class="form-control" id="title" @bind="movie.Title" />
    </div>
    <div class="form-group">
        <label for="director">Director</label>
        <input type="text" class="form-control" id="director" @bind="movie.Director" />
    </div>
    <div class="form-group">
        <label for="releaseDate">Release Date</label>
        <input type="date" id="movie-releaseDate" name="movie-releaseDate" @bind="movie.ReleaseDate" />
    </div>
</form>

<button type="button" class="btn btn-primary" @onclick="OnSubmit">Save</button>
<button type="button" class="btn btn-secondary" @onclick="OnCancel">Cancel</button>

</body>

@code {
    private MovieDto movie;

    protected override void OnInitialized()
    {
        movie = new MovieDto("", "", DateTime.Now);
    }

    private void OnSubmit()
    {
        MovieLogic.AddMovie(movie);
        NavigationManager.NavigateTo("/movies");
    }
    
    private void OnCancel()
    {
        NavigationManager.NavigateTo("/");
    }
}