@page "/movies"
@using BusinessLogic
@using Dtos
@inject MovieLogic MovieLogic
@inject NavigationManager NavigationManager

<h1>Movie List</h1>

<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Director</th>
        <th>Release-Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in movies)
    {
    <tr>
        <td>@movie.Title</td>
        <td>@movie.Director</td>
        <td>@movie.ReleaseDate.Year/@movie.ReleaseDate.Month/@movie.ReleaseDate.Day</td>
        <td><button type="button" class="btn btn-primary" @onclick="() => OnEdit(movie.Title)">Edit</button></td>
        <td><button type="button" class="btn btn-danger" @onclick="() => OnDelete(movie.Title)">Delete</button></td>
    </tr>
    }
    </tbody>
</table>



@code {
    private List<MovieDto> movies;
    private String selectedMovieTitle;
    
    protected override void OnInitialized()
    {
        movies = MovieLogic.GetMovies();
        foreach (var movieDto in movies)
        {
            movieDto.Director = "esto deberia de cambiar?";

        }
    }

    private void OnDelete(String title)
    {
        MovieLogic.DeleteMovie(title);
    }
    
    private void OnEdit(String title)
    {
        selectedMovieTitle = title;
        NavigationManager.NavigateTo("/edit-movie/"+selectedMovieTitle);

    }
}